@{
    ViewData["Title"] = "About us";
}
<br><br>
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <br><br>
    <p>This is a prototype for a college management system .</p>
</div>

